<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Application Environment Management System</title>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div>                           
                @Html.ActionLink("UMT Environment Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand",style="color:white;font-size:1.5em" })
             <ul class="nav navbar-nav navbar-right">
                 <li><a href="#" style="color:white;font-size:1em"><span class="glyphicon glyphicon-exclamation-sign" style="padding-right:5px"></span>Click here for Help</a></li>                 
             </ul>          
            <form role="search" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control" />
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>            
        </div>
    </div>

    <div class="container" id="centeredDiv">
        <div>
            @RenderBody()
            <hr />
        </div>
        @*<div class="panel-footer">
            <p>&copy; @DateTime.Now.Year</p>
        </div>*@
    </div>    
</body>
</html>