
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 style="color:#092bb2">General Tasks</h2>
    </div>
    <div class="panel-body">
        <div class="row text-justify">
            <ul>
                <li>@Html.ActionLink("Create Environment", "Edit", new { controller = "Environment" }, new { style = "font-size:1.35em;padding-left:15px" })</li>
                <li>@Html.ActionLink("Edit Environment Components", "Edit", new { controller = "Component" }, new { style = "font-size:1.35em;padding-left:15px" })</li>
                <li>@Html.ActionLink("Edit Component Attributes (Requires Authentication)", "Edit", new { controller = "Environment" }, new { style = "font-size:1.35em;padding-left:15px" })</li>
                <li>@Html.ActionLink("Edit Environment Attributes (Requires Authentication)", "Edit", new { controller = "Environment" }, new { style = "font-size:1.35em;padding-left:15px" })</li>
            </ul>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>

