@model EnvironmentManagement.Domain.Entities.ENVIRONMENT
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supplied Environment ID is @ViewBag.EnvironmentID</h2>
@* Environment needs to be shown pictorially *@

<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">

    </div>
    <div class="panel-footer">

    </div>
</div>