@model EnvironmentManagement.Domain.Entities.Components
@{
    ViewBag.Title = "Create/Edit Environment";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 style="color:#092bb2">Create Environment</h2>
    </div>
    <div class="panel-body">
        <h4 style="padding:10px 5px 10px 5px;color:#092bb2">Enter General Information</h4>
        <form class="form-horizontal" method="post" action="/Create/Index">
            <div class="form-group">
                <label class="control-label col-xs-2">Username :</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" placeholder="Username" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">Environment :</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" placeholder="Environment" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 text-left">Intended Users :</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" placeholder="Intended Users" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 text-left">Justification :</label>
                <div class="col-xs-10">
                    <textarea placeholder="Justification" class="form-control"></textarea>                    
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2 text-left">Working Status :</label>
                <div class="col-xs-10">
                    @Html.DropDownList("WorkingStatus", new List<SelectListItem> { new SelectListItem { Text = "Environment in working status", Value = "Yes" }, new SelectListItem { Text = "Environment not in working status", Value = "No" } }, new { @class="form-control"})
                </div>
            </div>
            <hr />
            <h4 style="padding:10px 5px 10px 5px;color:#092bb2">Add components to the environment</h4>
           
            <table class="col-xs-11">
                <tr>
                    <th style="padding:5px">Component Type</th>
                    <th style="padding:5px">Component Order</th>
                    <th style="padding:5px">Component Quantity</th>
                    <th style="padding:5px">Component Name</th>
                </tr>
                <tr>
                    <td style="padding:5px 5px 5px 5px">@Html.DropDownList("ComponentID", ViewBag.ListItems as List<SelectListItem>, new { @class = "form-control"})</td>
                    <td style="padding:5px 5px 5px 5px"><input type="text" class="form-control" placeholder="Component Order" /></td>
                    <td style="padding:5px 5px 5px 5px"><input type="text" class="form-control" placeholder="Component Quantity" /></td>
                    <td style="padding:5px 5px 5px 5px"><input type="text" class="form-control" placeholder="Component Name" /></td>
                </tr>
            </table>
            <div class="row col-xs-12">
                @Html.ActionLink("Add new component", "Edit", null, new { @class = "primary" })
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <button type="submit" class="btn-primary btn-lg">Submit !</button>
    </div>
</div>
