@model List<EnvironmentManagement.UI.Models.EnvironmentListViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 style="color:#092bb2">List of all available Environments</h2>
    </div>
    <div class="panel-body">
        <div id="PDIT-DEV" class="col-md-6 text-center" style="height:1000px;color:#0094ff">
            <h3>PDIT-DEV</h3>
            <hr />
            @foreach (var item in Model)
            {
                if (item.ENVIRONMENTZONE.Equals("PDIT-DEV"))
                {
                    <div style="width:100%;height:auto;background-color:rgba(83, 164, 223, 0.63);font-family:Calibri;margin-bottom:15px" class="container">
                        <div class="col-md-6">
                            <img src="~/Content/multiple25.svg" style="width:100%;height:100%" class="col-md-6 text-left" />
                            <span style="font-size:1.35em;color:#0e0202"><b>Quality Control, Development, UAT</b></span>
                        </div>
                        <div class="col-md-6">
                            <img src="~/Content/server12.svg" style="width:100%;height:100%;margin-right:0" class="col-md-6 text-right" />
                            Voyager
                        </div>

                    </div>
                }
            }
            <div style="width:100%;height:auto;background-color:yellow;margin-bottom:15px" class="container">
                <div class="col-md-6">
                    <img src="~/Content/multiple25.svg" style="width:100%;height:100%" class="col-md-6 text-left" />
                    <span style="font-size:1.35em;color:blue">Quality Control, Development, UAT</span>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/server12.svg" style="width:100%;height:100%;margin-right:0" class="col-md-6 text-right" />
                    Voyager
                </div>

            </div>

        </div>
        <div id="North-OCI" class="col-md-6 text-center" style="height:1000px;color:#a6e3ab">
            <h3>NORTH-OCI</h3>
            <hr />
            @foreach (var item in Model)
            {
                if (item.ENVIRONMENTZONE.Equals("NORTH-Oci"))
                {
                    <div style="width:100%;height:auto;background-color:#a6e3ab;color:blue;margin-bottom:15px">
                        <img src="~/Content/multiple25.svg" style="width:45%;height:100%" class="col-md-6" />
                        <img src="~/Content/server12.svg" style="width:45%;height:100%" class="col-md-6" />
                    </div>
                }
            }
            <div style="width:100%;height:auto;background-color:#a6e3ab;margin-bottom:15px" class="container">
                <div class="col-md-6">
                    <img src="~/Content/multiple25.svg" style="width:100%;height:100%" class="col-md-6 text-left" />
                    <span style="font-size:1.35em;color:blue">Quality Control, Development, UAT</span>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/server12.svg" style="width:100%;height:100%;margin-right:0" class="col-md-6 text-right" />
                    Voyager
                </div>

            </div>
            <div style="width:100%;height:auto;background-color:#a6e3ab;margin-bottom:15px" class="container">
                <div class="col-md-6">
                    <img src="~/Content/multiple25.svg" style="width:100%;height:100%" class="col-md-6 text-left" />
                    <span style="font-size:1.35em;color:blue">Quality Control, Development, UAT</span>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/server12.svg" style="width:100%;height:100%;margin-right:0" class="col-md-6 text-right" />
                    Voyager
                </div>

            </div>
            <div style="width:100%;height:auto;background-color:#a6e3ab;margin-bottom:15px" class="container">
                <div class="col-md-6">
                    <img src="~/Content/multiple25.svg" style="width:100%;height:100%" class="col-md-6 text-left" />
                    <span style="font-size:1.35em;color:blue">Quality Control, Development, UAT</span>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/server12.svg" style="width:100%;height:100%;margin-right:0" class="col-md-6 text-right" />
                    Voyager
                </div>

            </div>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>

