@model Int32
@{ Layout = null;}
<tr>
    <td style="padding:5px">@Html.DropDownList("ENVIRONMENTCOMPONENTS[" + Model + "].ENVIRONMENTATTRIBUTE", ViewBag.EnvironmentComponent as List<SelectListItem>, new { @class = "form-control" })</td>
    <td style="padding:5px">@Html.TextBox("ENVIRONMENTCOMPONENTS[" + Model + "].COMPONENTNAME", null, new { @class = "form-control", placeholder = "Component Name" })</td>
</tr>